article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: beige;
}

body {

}

.hide {
    display: none !important;
}

#wrapper {
	display: -ms-grid;
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    
	-ms-grid-columns: 1fr 200px 800px 1fr 400px;
    grid-template-columns: 1fr 200px 800px 1fr 400px;
    -ms-grid-rows: 50px 200px 1fr 1fr 25px;
    grid-template-rows: 50px 200px 1fr 1fr 25px;
    grid-template-areas: "nav nav nav nav nav" "header header header header aside" ". main main . aside" ". main main . aside" "footer footer footer footer footer";
}

#wrapper-history {
	display: -ms-grid;
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    
	-ms-grid-columns: 1fr 200px 800px 1fr 400px;
    grid-template-columns: 1fr 200px 800px 1fr 400px;
    -ms-grid-rows: 50px 200px 1fr 1fr 25px;
    grid-template-rows: 50px 200px 1fr 1fr 25px;
    grid-template-areas: "nav nav nav nav nav" "header header header header header" ". main main main ." ". main main main ." "footer footer footer footer footer";
}

header {
    grid-area: header;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

nav {
    grid-area: nav;
    
    background-color: burlywood;
}

nav a {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    
    color: beige;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.1);
}    

.nav-main {
    top: 0;
    left: 0;
}

.nav-menu{
    top: 0;
    left: calc(50% - 100px);
}

.nav-history {
    top: 0;
    right: 0;
}

main {
    grid-area: main;
}

.menu {
    background-color: beige;
    padding: 20px;
    margin: 20px 0;
}

.menu-box {
    margin-bottom: 20px;
    font-size: 0;
}
.menu-item {
    display: inline-block;
    font-size: 16px;
    padding: 0 10px;
    
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
}

.menu-item:first-child {
    padding-left: 0;
}

.menu-item:last-child {
    padding-right: 0;
    border-right-width: 0;
}

.menu-item:hover {
    color: gray;
    cursor: pointer;
}

.menu-header {
    padding: 10px;
    background: burlywood;
}

.menu-list {
}

.menu-list-item {
    border-style: solid;
    border-width: 1px;
    border-color: burlywood;
    
    position: relative;
    
    margin: 10px 0;
    padding: 10px;
    background-color: floralwhite;
}

.menu-list-item:last-child {
    margin-bottom: 0;
}

.menu-list-item-icon {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-list-item-adds {
    margin: 10px 0;
}

.menu-list-item-adds-item {
    margin-left: 10px;
    padding: 2px;
}

.menu-list-item-quantity {
    font-size: 0;
}

.menu-list-item-quantity label {
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: black;
    
    font-size: 16px;
    
    display: inline-flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.menu-list-item-quantity label:last-child {
    border-right-width: 1px;
}

.menu-list-item-quantity-lower, .menu-list-item-quantity-higher:hover {
    color: gray;
    cursor: pointer;
}

.menu-list-order {
    
}

.menu-list-order-label {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    width: 300px;
    height: 25px;
    align-items: center;
    justify-content: center;
}

.menu-list-order-label:hover {
    color: gray;
    cursor: pointer;
}

aside {
    grid-area: aside;
    
    background-color: cornsilk;
    
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: bisque;
}

aside > div {
    position: sticky;
    top: 0;
}

aside > div > div {
    padding-top: 20px;
}

.aside-cart {
    padding: 10px;
}

.aside-cart-box {

}

.aside-cart-list-item {
    border-style: solid;
    border-width: 1px;
    border-color: burlywood;
    
    position: relative;
    
    margin: 10px 0;
    padding: 10px;
    background-color: floralwhite; 
}

.aside-cart-list-name {
    position: relative;
}


.aside-cart-list-name-title {
    
    
    
}

.aside-cart-list-name-price {
    position: absolute;
    top: 0;
    right: 0;
}

.aside-cart-list-del {
    position: relative;
    
    height: 25px;
}

.aside-cart-list-del-icon {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
    font-size: 16px;
    
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    bottom: 0;
    right: 0;
}

.aside-cart-list-del-icon:hover {
    color: gray;
    cursor: pointer;
}

.aside-cart-note {
    
}

.aside-cart-note-textarea {
    width: 100%;
    
    resize: none;
    padding: 5px;
    
    box-shadow: 1px 1px 1px #999;
}

.aside-cart-order {

}

.aside-cart-order-label {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    
    background-color: burlywood;
}

.history-item {
	border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: cornsilk;
    margin-bottom: 20px;
    padding: 20px;
}

.history-item div {
	margin-top: 10px;
}


footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: floralwhite;
    background-color: burlywood;
}

